button {
    width: 140px;
    height: 30px;
    color: rgb(95, 95, 255);
    border: 1px solid rgb(153, 153, 255);
    background-color: white;
    cursor: pointer;
    border-radius: 0.5vw;
}

#go-back {
    cursor: pointer;
    width: 80px;
}

#go-back:hover {
    color: rgb(170, 170, 255);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.6s, opacity 0.6s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s linear;
}

h1 {
    font-size: 50px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

#panel {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(153, 153, 255);
    padding: 0.5%;
    border-radius: 0.5vw;
    z-index: 3;
    width: 600px;
    height: 300px;
}

#panel-container {
    margin-top: 70px;
}

#profileData {
    margin-left: 10px;
}

input {
    width: 275px;
    height: 20px;
    border: 0.25px solid black;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    color: white;
    background-color: rgb(255, 98, 98);
}

img {
    border-radius: 50%;
}

.container {
    z-index: 99999999;
    position: absolute;
    left: 50%;
    top: 42%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
}

/* https://github.com/BaseMax/RippleEffectCSS */
[effect=ripple] {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[effect=ripple]:before {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform-origin: center;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    background: var(--ripple-background, rgb(111, 133, 255));
    transform: translate(-50%, -50%) scale(var(--s, 1));
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
}
